[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyowm = "*"
python-kasa = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
